.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#site {
  min-width: 100%;
  padding: 0%;
  margin: 0%;
  min-height: 100vh;
}

#background_img {
  min-width: 100%;
  max-width:100%;
  height:100%;
  object-fit: cover;

}

.MuiListItem-root.Mui-selected,.MuiBottomNavigationAction-root.Mui-selected{
  background-color: #2C1320 !important;
  color: #E7DBDB !important;
}

.MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly{
  color: #E7DBDB;
}

#fixed_item{
  position: fixed;
  width: 100%;
  border-right-color:'#2F323A';
  border-right-width:3px;
}

#gitlab_link:hover,#email_link:hover,#linkedin_link:hover,#github_link:hover{
  background: #B6C3B6;
}

#gitlab_link,#email_link,#linkedin_link,#github_link{
  border-bottom: 3px solid #B6C3B6;
}

#uni_link{
  border-bottom: 3px solid #C7C0C9;
}
#uni_link:hover{
  background: #C7C0C9;
}

#contact,#last_hidden{
  height:50%;
}

.profile_img{
  float: right;
  top:35%;
  padding:8%;
  max-height:40vh;
  width:auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#mobile_menu{
  display:none;
}

@media (max-width: 1200px) {
 #hidden_item, #last_hidden{
    display: none;
  }

  #fixed_item,#about, #skills, #experience,#contact,#projects{
    min-width:100%;
    position:relative;

  }

  #contact_box{
    padding-bottom:10%;
  }

  .MuiGrid-grid-xs-5{
    max-width: 100% !important;
    min-width:80% !important;
  }

  #menu{
    display:none;
  }

  #mobile_menu{
    display:block;
  }

  #about_text{
    max-width: 100% !important;
    flex-basis: 100%;
  }

  }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


